#main h3 {
	text-align: center;
}

#main .log {
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 5px 10px;
	box-shadow: rgba(10,10,10,0.2) 0px 0px 5px inset;
	height: 450px;
	overflow-y: scroll;
	font-size: 13px;
}

#main button {
	width: 100px;
	margin-left: 10px;
}

#main .button-container {
	position: absolute;
	bottom: 15px;
	right: 15px;
}