#main .ws-folder {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: 1px solid #ddd;
	margin: 40px 0;
	height: 310px;
}

#main p {
	font-weight: 300;
}

#main h2 {
	margin-top: 15px;
	margin-bottom: 20px;
}

#main button.next {
	position: absolute;
	bottom: 15px;
	right: 15px;
	width: 100px;
}